*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url('Photo1.jpg') ;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100dvh;
    width: 100%;
}

nav{
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
}
nav ul{
    list-style: none;
    display: flex;
}
nav .active-li{
    margin-right: auto;
}
nav a{
    display: flex;
    text-decoration: none;
    color: whitesmoke;
    padding: 1em 2em;
    transition: background-color 150ms ease;
}
nav a:hover{
    background-color: rgba(216, 232, 242, 0.893);
}
nav a.home{
    border: 2px solid;
    position: absolute;
    left: 10px;
}
nav a.home:hover{
    background: none;
}
@media (max-width: 700px ){
     nav{
        position: fixed;
        top: 10px;
        right: -100%;
        height: 100vh;
        width: min(15em, 100%);
        z-index: 10;
        border-left: 3px solid;
        transition: right 300ms ease-in-out;
     }
     nav.show{
     right: 0;
     }
    nav ul{
        width: 100%;
        flex-direction: column;
    }
    nav .active-li{
        display: none;
    }
    nav a{
        padding-left: 2.5em ;
    }
}