*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url('Photo1.jpg') ;
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 24px;
}
.logo{
    color: whitesmoke;
    font-size: 22px;
    font-weight: bold;
}
.nav-link{
    display: flex;
    list-style: none;
}
.nav-link li a{
    color: whitesmoke;
    text-decoration: none;
    padding: 10px 15px;
}
.menu-toggle{
    display: none;
    color: whitesmoke;
    font-size: 25px;
    cursor: pointer;
}
.nav-link li a:hover .nav-link li a:focus{
    background-color: azure;
    border-radius: 4px;
}