*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: arial, sans-serif;
    background: #f1f5f9;
    min-height: 100vh;
}

.container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navbar{
    display: flex;
}
nav a{
    color: black;
    text-decoration: none;
    padding: 10px 18px;
    border-radius: 8px;
}

nav {
    background: red;
    padding: 22px 24px;
    
}
nav ul{
    display: flex;
    list-style: none;
    margin: 0;
    gap: 12px;
    padding: 0;
}

nav a:hover, nav a:focus{
      background: grey;
      color: lightsteelblue;
}